<nav class="navbar navbar-static-top navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl as navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
    			<li ng-repeat="area in navbar.areas" ng-class="{active:docs.currentArea.id === area.id}"><a ng-href="{{area.href}}" >{{area.name}}</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div>
  </div>
  <div class="sup-header">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>

        <li ng-repeat="breadcrumItem in docs.breadcrumbItems" class="ng-scope">
          <a ng-href="{{breadcrumItem.url}}">{{breadcrumItem.label}}</a>
        </li>
      </ol>
    </div>

  </div>
</nav>
